<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jambosoft.bangbang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_bangbang"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_bangbang_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".LogOutActivity"
            android:exported="true" />
        <activity
            android:name=".MyInquireActivity"
            android:exported="true" />
        <activity
            android:name=".InquireListActivity"
            android:exported="true" />
        <activity
            android:name=".HpAuthActivity"
            android:exported="true" />
        <activity
            android:name=".MyContentActivity"
            android:exported="true" />
        <activity
            android:name=".DetailRoomActivity"
            android:exported="true" />
        <activity
            android:name=".KakaoMapActivity"
            android:exported="true" />
        <activity
            android:name=".DetailViewActivity"
            android:exported="true" />
        <activity
            android:name=".WriteContentActivity"
            android:exported="true" />
        <activity
            android:name=".FilterActivity"
            android:exported="true" />
        <activity
            android:name=".PutUpRoomMoreInfoActivity"
            android:exported="true" />
        <activity
            android:name=".PutUpRoomInfoActivity"
            android:exported="true" />
        <activity
            android:name=".PutUpRoomActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileModifyActivity"
            android:exported="true" />
        <activity
            android:name=".SearchActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="dbc54b829f606248f354610294d03755" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>